body {
    font-family: 'Roboto',sans-serif;

}
.logo {
font-family: 'Raleway',sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.33px;
text-transform: uppercase;
color: #4D5AE5;
}


span {
font-family: 'Raleway';
font-weight: 700;
font-size: 18px;
line-height: 1.33;
text-transform: uppercase;
color: #2E2F42 ;
}
a {
    text-decoration: none;
}
.site-nav a:hover {
    color: #4D5AE5;
}
.site-nav a:focus {
    background-color: #4D5AE5;
}



